body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}

.phone {
  width: 100%;
  height: 100vh;
  display: block;
  overflow-y: hidden;
}

#app, .screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.title-bar {
  background: blue;
  color: white;
  box-shadow: 0 0 .25rem .25rem grey;
  display: flex;
  flex-direction: row;
}

.title-bar > span {
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.title-bar-back-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  margin-left: 1rem;
}

.title-bar-icon {
  width: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title-bar-icon > div {
  margin: .0625rem;
  width: .375rem;
  height: .375rem;
  background-color: white;
  border-radius: .375rem;
}

.title-bar-menu {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.125);
}

.title-bar-menu.show { display: block }

.title-bar-menu > .content {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: -.25rem .25rem .25rem .0625rem grey;
}

.title-bar-menu > .content > a {
  padding: .5rem 1rem;
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.title-bar-menu > .content > a:focus { background-color: rgba(0, 0, 0, 0.125) }

.search-field {
  width: calc(100% - 2rem);
  border: 0;
  font-size: 1.25rem;
  padding: .5rem 1rem;
}

.search-result-list, .question-screen-items {
  flex: 1;
  overflow-y: auto;
}

.search-result {
  margin: 0 1rem;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out 0s;

}

.search-result > h3, .search-result > span { margin: .25rem 0 }

.search-result.expand {
  box-shadow: .25rem .25rem .25rem .125rem grey;
  border-radius: .25rem;
}

.search-result-details { margin-top: 1rem }
.search-result-details > p { padding: 1rem }

.search-result-images {
  display: grid;
  grid-template-columns: 1fr;
}

.search-result-images > img { width: 100%; height: auto }

.search-empty-view {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.search-empty-view > .space { height: 1rem }

.question-screen-items > div {
  border-radius: .5rem;
  margin: .75rem;
  box-shadow: .25rem .25rem .25rem .125rem grey;
  padding: .75rem;
}

.question-card > h2 {
  margin: 0;
  margin-bottom: .5rem;
  font-size: 1rem;
}

.question-option { display: flex }

.question-option > label {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-option > label > img { width: max(3rem, 40%); height: auto }
.question-option > label > img.hide { display: none }

.search-regional-screen > input {
  margin: 1rem;
  border: 0px;
  font-size: 1.25rem;
}

.search-regional-screen > .result-area {
  margin: 0 1rem;
  font-size: 1.25rem;
}

@media screen and (min-width: 40rem) {
  .phone {
    max-width: 25rem;
    border: 1rem solid black;
    border-radius: 1rem;
    min-height: 30rem;
    height: calc(100vh - 12rem);
    margin-top: 5rem;
  }
}
